.countdown-box{
  width: 500px;
  height: 330px;
  margin-top: 100px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
}

.countdown-title {
  text-align: center;
  color: white;
  font-size: 2em;
  font-weight: bold;
  margin-top:20px;
}

.countdown-call-to-action-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.countdown-call-to-action {
  margin-top:50;
  margin-bottom:0;
  margin-left: 45px;
  color: #a3836e;
  font-size: 2em;
  font-weight: bold;
}

.countdown-item-image {
  height: 45px;
  width: 45px;
  margin: 0 10px;
  padding-bottom: 7px;
}

.countdown-amazon-link {
  color: #FFF;
  margin: 5px 0;
  display: block;
}

@media (max-width: 700px) {
  .countdown-box {
    width: auto;
    height: auto;
    margin: auto;
  }

  .countdown-title {
    font-size: 1.5em;
  }

  .countdown-call-to-action {
    font-size: 1.5em;
  }

  .countdown-image {
    max-width: 230px;
    height: auto;
  }
}

@media (max-height: 500px) {
  .countdown-box {
    margin: auto;
  }
}
