.countdown-box{
  position: absolute;
  width: 500px;
  height: auto;
  margin-top: 100px;
  text-align: center;
  padding: 25px;
  background-color: rgba(3, 19, 92, 0.5);
  z-index: 50;
}

.countdown-title {
  text-align: center;
  color: white;
  font-size: 2em;
  font-weight: bold;
  margin-top:20px;
}

@media (max-width: 700px) {
  .countdown-box {
    width: auto;
    height: auto;
    margin: auto;
  }

  .countdown-title {
    font-size: 1.5em;
  }

  .countdown-call-to-action {
    font-size: 1.5em;
  }

  .countdown-image {
    max-width: 230px;
    height: auto;
  }
}

@media (max-height: 500px) {
  .countdown-box {
    margin: auto;
  }
}
